/* golbal styles */

body {background-image: url(../images/space.jpg);}

img {  display: block;
margin: 0 auto;
height: 400px;
width: 80%;}
main {padding: 20px;}
h1, h2 {text-align: center;
color: #be1648f7;
text-shadow: 1px 1px 1px black;}

#col1 {
    color: white;
    width: 50%;
    border: 2px transparent rgb(121, 86, 86);
    margin: 0px;
    padding: 0px;}
    #col2 {

        width: 50%;
        border: 2px solid rgb(205, 202, 202);
        margin: 20px;
        padding: 20px;
    }
    #two_col {display: flex;}
    nav{
        text-align: center;
        margin: 50px 0;
        background-color: transparent rgb(80, 20, 220);
        border-radius: 20px;
        height: 120px;
        }
        
        
        
        nav ul{ list-style: none;}
        nav li {display: inline-block;
        padding: 0
        ;}
        nav li a {   
        display: block;
         color: rgb(249, 6, 6);
        font-size: 24px;
        font-weight:bold ;
        text-decoration: none;
        margin:0 20px;
        width: 125px;
        height: 40px;
        line-height:  40px; 
        }
        nav a:hover {
        
            background-color: white;
            color: black;
        }
        footer { text-align: center;
        color: pink;}

        #p { color: rgb(243, 243, 243);  text-align: center;  } 
        #p1{ text-align: center; color: white;
         }
          /* the wall*/


          .movie{width: 700px;}
.movie1 {width: 1400px; height: 200px;}
h3 {color: white;text-align: center;}
p {color: white;}
@media (min-width: 320px) {

    nav {
    padding: 10px;
margin-top: 10px;
text-align: center;

}
@media  (min-width: 768px)
{

nav li {display: inline-block;}
nav li a {width: 120px;
height: 50px;
line-height: 50px;}}}

@media (min-width: 1024px) {nav {padding: 0}}