/* golbal styles */
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


img {  display: block;
margin: 0 auto;
height: 400px;
width: 80%;}
main {padding: 20px;}
h1, h2, h3 {text-align: center;
color: #d3587d;
text-shadow: 1px 1px 1px black;}



#link {text-align: center;}
div a {color: white}
div a:hover {color: black}

#col1 {font-family: "Cascadia Code", sans-serif;}


p { color: white;
font-family: "Bebas Neue", sans-serif;}

ul {color: white;
text-align: center;
list-style-type: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

ol {color: white;
text-align: left;}

a  {text-align: center;}

    nav{
        text-align: center;
        margin: 50px 0;
        background-color: transparent;
        border-radius: 20px;
        height: 120px;
        }
        
        
        
        nav ul{ list-style: none;}
        nav li {display: inline-block;
        padding: 0
        ;}
        nav li a {   
        display: block;
         color: rgb(249, 6, 6);
        font-size: 24px;
        font-weight:bold ;
        text-decoration: none;
        margin:0 20px;
        width: 125px;
        height: 40px;
        line-height:  40px; 
        }
        nav a:hover {
        
            background-color: transparent;
            color: white;
        }
        footer { text-align: center;
        color: pink;}
        iframe {width: auto;
        height: auto;
    }
   
      

               
@media (min-width: 320px) {

    nav {
    padding: 70px;


text-align: center;}

body {background-image: url(../images/Pink-Floyd-Album-Art-Main-Image.jpg);}

@media  (min-width: 768px)
{#col1 {
    color: white;
    width: 50%;
    border: 2px transparent rgb(121, 86, 86);
    margin: 0px;
    padding: 0px;}
    #col2 {

        width: 50%;
        border: 2px transparent rgb(205, 202, 202);
        margin: 20px;
        padding: 20px;
    }
    #container {display: flex;}
body {background-image: url(../images/space.jpg);}
nav li {display: inline-block;}
nav li a {width: 120px;
height: 50px;
line-height: 50px;}}}

@media (min-width: 1024px) {nav {padding: 0}}