body {

    background-color: blue;
}

#container {
    background-color: white;
width: 1200px;
margin: 40px auto;
border: 2px solid black;
padding: 20px;


}

img{
    display: block;
    margin: 0 auto;
    width: 1000px;
}


nav{
text-align: center;
margin: 20px 0;
margin: 0 40px;
font-weight: bold;

}
nav a {
    font-size: 24px;
    color: black;
}
nav a:hover { text-decoration: none;

}