body {

    background-color: blue;
}

#container {
    background-color: white;
width: 1200px;
margin: 40px auto;
border: 2px solid black;
padding: 20px;


}

img{
    display: block;
    margin: 0 auto;
    width: 1000px;
}